.projects-section {
  width: 100vw;
  min-height: 100vh;
  background: #0f0f0f;
  padding: 80px 40px;
  color: white;
  text-align: center;
}

.projects-title {
  font-size: 60px;
  font-weight: 900;
  letter-spacing: 2px;
  color: #6BFF33;
}

.projects-grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 10px;
}

.project-card {
  background: #121212;
  border: 1px solid #6BFF33;
  border-radius: 15px;
  padding: 20px;
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0px 0px 20px #6BFF33;
}

.project-card img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.project-card h3 {
  margin-top: 15px;
  color: #6BFF33;
}

@media(max-width: 900px){
  .projects-grid{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 600px){
  .projects-grid{
    grid-template-columns: 1fr;
  }
}
